<br>
<h5>Alterar Descrição do Tipo</h5>

<%= render 'layouts/form', resource: @product_type %>
<br>
<div class="link">
    <%= link_to 'Visualizar', @product_type, class: 'btn btn-secondary btn-sm' %>
    <%= link_to 'Lista', product_types_path, class: 'btn btn-warning btn-sm' %>
</div>