<h1>ProductType#edit</h1>
<p>Find me in app/views/product_type/edit.html.erb</p>

<%= render 'layouts/form', resource: @product_type %>

<%= link_to 'Show', @product_type %> |
<%= link_to 'Back', product_types_path %>%
