
<h5>Lista de Tipos de Produtos</h5>

<div class="pagination justify-content-end">
        <%= link_to_prev_page @product_types, '<< Pagina Anterior' %>
        <%= link_to_next_page @product_types, 'Proxima Pagina >>' %>
</div>

<%= render "layouts/principal", resource: @product_types %>
