<h1>ProductColor#edit</h1>
<p>Find me in app/views/product_color/edit.html.erb</p>

<%= render 'layouts/form', resource: @product_color %>

<%= link_to 'Show', @product_color %> |
<%= link_to 'Back', product_colors_path %>