<br>
<h5>Alterar Descrição de Tamanho</h5>

<%= render 'layouts/form', resource: @product_size %>
<br>
<div class="link">
    <%= link_to 'Visualizar', @product_size , class: 'btn btn-secondary btn-sm' %>
    <%= link_to 'Lista', product_sizes_path, class: 'btn btn-warning btn-sm' %>
</div>