<h1>ProductSize#edit</h1>
<p>Find me in app/views/product_size/edit.html.erb</p>

<%= render 'layouts/form', resource: @product_size %>

<%= link_to 'Show', @product_size %> |
<%= link_to 'Back', product_sizes_path %>%
