@import 'bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 935px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    border: 1px;
    border-radius: 2px;
}

h5 {
    background-color: blue;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 10px;
    font-size: 15px;
}

h6 {
    background-color: rgb(200, 45, 45);
    color: #f2f2f2;
    text-align: center;
    padding: 8px 10px;
    font-size: 15px;
}
    
    
.field {
    padding: 10px;
}

th {
    background-color: gray;
    color: #f2f2f2;
    text-align: center;
    padding: 3px 5px;
    text-decoration: none;
    font-size: 16px;;
}

td {
    padding: 10px;
}

form .actions input[type='submit'] {
    font-size: 12px;
    background-color: blue;
    color: white;
    padding: 1rem 1rem;
    text-align: center;
    border-radius: 4px;
    border: none;
    padding: 0.5rem;
}

.link {
    padding: 10px;
}

.addresses {
    width: 400px;
    padding: 5px 5px 5px 5px;
    border: 2px solid red;;
    border-radius: 2px;
   
}