<br>
<h5>Alterar Descrição da Composição</h5>

<%= render 'layouts/form', resource: @product_composition %>
<br>
<div class="link">
    <%= link_to 'Visualizar', @product_composition , class: 'btn btn-secondary btn-sm' %>
    <%= link_to 'Lista', product_compositions_path, class: 'btn btn-warning btn-sm' %>
</div>