<h1>ProductComposition#edit</h1>
<p>Find me in app/views/product_composition/edit.html.erb</p>

<%= render 'layouts/form', resource: @product_composition %>

<%= link_to 'Show', @product_composition %> |
<%= link_to 'Back', product_compositions_path %>%
