<h1>ProductComposition#new</h1>
<p>Find me in app/views/product_composition/new.html.erb</p>

<%= render 'layouts/form', resource: @product_composition %>

<%= link_to 'Back', product_compositions_path %>%

