

<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Qtd. Atual</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% if @results.length > 0 %>
            <h5>Lista de Produto(s) do Tipo </h5>
        <% end %>
        <% @results.each do |s| %>
            <tr>
                <td><%= [s.first].join(", ") %></td>                        
                <td> <strong> <span style="background-color:#FFA07A;"><%= format_quantity(s.last)  %></span> </strong> </td>                              
            </tr>
        <% end %>
    </tbody>
</table>

    <br>

    <%= link_to 'Sair', homes_path, class: 'btn btn-dark btn-sm' %>
    <%= link_to 'Nova Pesquisa', reports_path, class: 'btn btn-warning btn-sm' %>