<p id="notice"><%= notice %></p>

<h5>Lista de Produto(s) Sem Cadastro no Estoque </h5>

<% if @products_whithout_stock.length > 0 %>

        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    
                    <th colspan="3"></th>
                </tr>
            </thead>

            <tbody>
                <% @products_whithout_stock.each do |s| %>
                    <tr>
                        <td><%= [ s.product_type.description,
                                    s.description, 
                                    s.product_color.description, 
                                    s.product_composition.description, 
                                    s.product_size.description].join(", ") %></td>                        
                        <td><%= link_to 'Criar Estoque', new_stock_path(prod_id: s.id), class: 'btn btn-info btn-sm' %> </td>                             
                    </tr>
                <% end %>
            </tbody>
        </table>
<% else %>
    <p class="home"> Não ha Produto(s) Sem Cadastro no estoque !!! !!! </p>
<% end%>

    <br>

    <%= link_to 'Sair', homes_path, class: 'btn btn-dark btn-sm' %>