    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
          <img class="d-inline-block align-top" src="http://www.mcstextil.com.br/imagens/logomcsbr.png"  width=90 height=60 alt="logo" loading="auto"> 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>   
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Tabelas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <a class="dropdown-item" href="/product_compositions">Composição</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/product_colors">Cor</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/product_sizes">Medidas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/product_types">Tipo</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Cadastrar
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <a class="dropdown-item" href="/clients">Cliente</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/suppliers">Fornecedor</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/products">Produto</a>
                
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Estoque
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                <a class="dropdown-item" href="/stocks">Cadastro Estoque</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/stock_updates">Atualizar Estoque</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/stock_outs">Lista de Saidas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/stock_entries">Lista de Entradas</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Relatorios
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                <a class="dropdown-item" href="/reports">Produtos no Estoque</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/withoutstock">Produto fora Estoque </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"> </a>
                <a class="dropdown-item" href="#"> </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" >       </a>
            </li>
        </ul>
    </div>
  </div>
</nav> 